set windows-shell := ["powershell.exe", "-NoProfile", "/c"]

prettier := ".\\node_modules\\.bin\\prettier.cmd"

mojang := env_var("USERPROFILE")+"/AppData/Roaming/Minecraft Bedrock/Users/Shared/games/com.mojang"
mojang_bp := mojang + "/development_behavior_packs/{{name}}-{{bp_uuid}}"
mojang_rp := mojang + "/development_resource_packs/{{name}}-{{rp_uuid}}"

bump TYPE:
    mcbe bump \
    -p ./behavior_packs/pack0/manifest.json \
    -p ./resource_packs/pack0/manifest.json \
    -t {{ TYPE }}
    {{prettier}} --write .\behavior_packs\pack0\manifest.json
    {{prettier}} --write .\resource_packs\pack0\manifest.json

build:
    node esbuild.config.mjs

build-watch:
    node esbuild.config.mjs --watch

link:
    mcbe link \
    -i ./behavior_packs/pack0 \
    -o "{{mojang_bp}}"
    mcbe link \
    -i ./resource_packs/pack0 \
    -o "{{mojang_rp}}"

unlink:
    mcbe unlink -i "{{mojang_bp}}"
    mcbe unlink -i "{{mojang_rp}}"
    rm "{{mojang_bp}}"
    rm "{{mojang_rp}}"
