{
  "name": "{{name}}",
  "version": "0.1.0",
  "productName": "{{name}}",
  "description": "{{description}}",
  "private": true,
  "devDependencies": {
    "esbuild": "^0.25.5",
    "prettier": "3.8.3",
    "chokidar": "^5.0.0"
  },
  "dependencies": {
    "@minecraft/math": "^2.2.11",
    "@minecraft/server": "^2.0.0",
    "@minecraft/server-ui": "^2.0.0",
    "@minecraft/vanilla-data": "^1.21.90"
  }
}
